@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FED835;
  --secondary: #304fff;

  --primary-accent: #e5c230;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}
body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-text-size-adjust: 100%; /* iOS font boyutlandırma düzeltmesi */
  text-size-adjust: 100%;
}
html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
    .mask-fade-l {
    mask-image: linear-gradient(to right, transparent 0%, transparent 10%, #000 25%, #000 100%);
  }
  /* sağdan şeffaf → sola opak (ileride sağ‑görsel için) */
  .mask-fade-r {
    mask-image: linear-gradient(to left, transparent 0%,transparent 10%, #000 25%, #000 100%);
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}